.heroBanner {
  min-height: 600px;
  background-image: url('/img/logo-500.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;
}

[data-theme='dark'] .heroBanner {
  background-image: url('/img/banner.png');
  background-origin: border-box;
}

.heroContent {
  padding-right: 500px;
}

@media screen and (max-width: 1439px) {
  .heroBanner {
    background-size: 350px 350px;
    min-height: unset;
  }

  [data-theme='dark'] .heroBanner {
    background-size: 450px 450px;
  }

  .heroContent {
    padding-right: 400px;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    background-image: url('/img/logo-200.png');
    background-size: auto;
    padding: 2rem;
  }

  [data-theme='dark'] .heroBanner {
    background-image: url('/img/logo-200.png');
    background-origin: content-box;
    background-size: auto;
  }

  .heroContent {
    padding-right: 220px;
  }
}

@media screen and (max-width: 768px) {
  .heroBanner {
    background-image: none;
  }

  [data-theme='dark'] .heroBanner {
    background-image: none;
  }

  .heroContent {
    padding-right: var(--ifm-spacing-horizontal);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px
}
